@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Oswald&family=Titillium+Web:wght@600&display=swap');
@import url(styles/main.css);

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.Rectangle{
    background-image: url(img/Rectangle\ 2.png);
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    margin: 0 auto;
    height: 800px;
    margin-bottom: 150px;
}
.header-nav {
    position: relative;
    background-color: rgba(0, 91, 193, 0.6);
    display: flex;
    justify-content: center;
    height: 80px;
}
.logo__link {
    display: flex;
}
.logo {
    left: 10px;
    padding: 11px 0px;
    max-width: 9vw;
    position: absolute;
}
.logo__text {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.nav {
    margin: 0 auto;
    display: flex;
    max-width: 500px;
    align-self: center;
    gap: 28px;
}
.nav__item {
    list-style: none;
    transition: 0.5s;
}
.nav__link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}
.nav__item:hover {
    transform: scale(1.25);
    font-weight: bold;
}
.header__wrapper{
    display: flex;
    max-width: 783px;
    margin: 0 auto;
}
.main {
    margin-left: -25%;
    width: 544px;
    height: 720px;
    background-color: rgba(0, 91, 193, 0.6);
}
.main__content {
    margin-top: 200px;
    margin-left: -30%;
}
.title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.button {
    padding: 10px 50px;
    border: 2px solid #FFFFFF;
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.5s ease;
}
.button:hover{
    cursor: pointer;
    background-color: #fff;
    color: #005BC1;
}
.button__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
@media (max-width:1500px){
    .main{
        margin-left: -12.5%;
        width: 444px;
    }
}
@media (max-width:1320px){
    .main{
        margin-left: -2%;
        width: 344px;
    }
}
.container1 {
    max-width: 1110px;
    margin: 0 auto;
}
.project {
    margin-bottom: 150px;
}
.title1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.projects {
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 344px;
}
.title2 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
}
.projects__button {
    padding: 20px 25px;
    border: 2px solid #005BC1;
    background-color: rgba(0, 0, 0, 0);
}
.projects__button:hover {
    cursor: pointer;
}
.cards {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
}
.card {
    position: relative;
}
.card__img {
    max-width: 540px;
}
.card__text1 {
    z-index: 1;
    left: 255px;
    top: 255px;
    position: absolute;
    max-width: 250px;
    background-color: #fff;
    padding: 20px 25px;
}
.title3 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
}
.card__text2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #343434;
}
.catalog {
    margin-bottom: 150px;
}
.decor__img {
    margin-right: 40px;
}
.title4 {
    justify-content: start;
    width: 100%;
    margin-bottom: 70px;
}
.catalog__nav {
    width: 20%;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.catalog__item {
    list-style: none;
}
.catalog__link {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
    transition: 0.5s;
}
.catalog__link:hover {
    text-decoration: underline;
    text-decoration-color: #005BC1;
    color: #005BC1;
}
.catalog__product {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.product {
    max-width: 350px;
    height: 300px;
    border: 3px solid #005BC1;
    position: relative;
}
.product__img {
    width: 100%;
    object-fit: contain;
}
.desc__product {
    padding: 0px 25px;
    top: 199px;
    left: 80px;
    position: absolute;
    display: flex;
    align-items: center;
    width: 265px;
    height: 86px;
    background-color: #005BC1;
}
.text__product {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.rent {
    margin-bottom: 100px;
}
.rent__content {
    display: flex;
    align-items: center;
}
.desc__rent {
    width: 35%;
}
.text__rent {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #343434;
}
.rent__equipment {
    width: 65%;
    padding: 30px;
    border: 3px solid #005BC1;
    margin-left: 95px;
}
.title6 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rent-title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
}
.equipment__content {
    display: flex;
    margin-top: 30px;
}
.equipment__wrapper{
    width: 255px;
}
.equipment__img {
    object-fit: contain;
    width: 100%;
    margin-right: 30px;
}
.equipment__title {
    margin-left: 10px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
}
.equipment__list {
    margin-top: 30px;
    margin-left: 30px;
}
.equipment__item {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #343434;
    margin-bottom: 20px;
}
.news{
    margin-bottom: 120px;
}
.title6{
    margin-bottom: 77px;
}
.news__left {
    width: 250px;
}
.news__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 51px;
    border: none;
    background: #005BC1;
    transition: all 0.5s ease;
    margin-left: 670px;
}
.news__text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.news__button:hover{
    background: #FFFFFF;
    color: #005BC1;
    border: 2px solid #005BC1;
}
.news__card-big{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 560px;
}
.news__card-big img{
    width: 255px;
    margin-right: 30px;
}
.big-card-info div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 42px;
}
.news__read{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #343434;
}
.big-card-info h3{
    text-decoration-line: none;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
}
.big-card-info p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #979797;
 
}
.big-card-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.big-card-info p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #343434;
}
.news__cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.news__card-little{
    width: 225px;
    height: 242px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.news__card-little:first-child{
    margin-right: 60px;
}
.news__card-little:last-child h3{
    width: 100px;
}
.news__card-little div{
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
}
.news__card-little p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 19px;
    color: #343434;
}
.news__card-little h3{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
    margin-bottom: 20px;
}
.little-card-img{
    width: 128px;
}
.footer__inner {
    background-color: #005bc1;
}
.footer__header {
    display: flex;
    justify-content: space-between;
    padding: 36px 0 25px 0;
}
.footer__header-tel {
    font-family: Oswald;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff;
}
.footer__header-adress,
.footer__header-mail {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #fff;
}
.footer__body {
    padding: 25px 0 10px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.footer__body-inner {
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.footer__body-box {
    display: flex;
    flex-direction: column;
}
.footer__body-link {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    margin-bottom: 15px;
}
.footer__link--middle {
    text-align: center;
}
.footer__link--right {
    text-align: right;
}
.footer__bottom {
    padding: 25px ;
    display: flex;
    justify-content: space-between;
}
.footer__bottom-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
}
.footer__bottom-text:first-child {
    margin-bottom: 10px;
}
.footer__container {
    position: relative;
    height: 267px;
}
